@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Test</h1>
        <p>
            Det skal ikke være så vanskelig altså.
        </p>
        <button onclick="location.href='/'" type="button" class="btn btn-primary">Les mer</button>
    </div>

</body>
</html>
